body {
overflow-x: hidden; 
font-family: "Heebo";
font-size: 18px;
color: white;
background: #551717;
margin: 0;
}
a {
color: white;
text-decoration: none;
}
ul {
list-style-type: none;
padding: 0;
overflow: hidden;
}
li {
float: left;
width: 20%;
}
li a {
display: block;
color: white;
text-align: center;
text-decoration: none;
}
h2 {
margin-bottom: -16px;
}
#main {
margin: 8px;
}
.item-container {
background: black;
overflow: auto;
padding: 5px;
border-radius: 5px;
}
.preview {
float: left; 
margin-right: 10px;
width: 300px;
}
.item-title {
margin-top: 0;
}
.item-p {
margin-right: 25px;
}
footer {
background: black;
text-align: center;
padding: 53px;
}
