body {
overflow-x: hidden; 
font-family: "Heebo";
font-size: 18px;
color: white;
background: #551717;
margin: 0;
}
a {
color: white;
}
.navlink:after {
content: "";  
position: relative;  
width: 0%;
margin: auto;
height: 3px;
background-color: white;
bottom: 0; 
left: 0; 
display: block;
transition: 0.4s ease;
}
.navlink:hover:after {
width: 50%;
}
#active:after {
content: "";  
position: relative;  
width: 50%;
margin: auto;
height: 3px;
background-color: white;
bottom: 0; 
left: 0; 
display: block;
}
ul {
list-style-type: none;
padding: 0;
overflow: hidden;
}
li {
float: left;
width: 20%;
}
li a {
display: block;
color: white;
text-align: center;
text-decoration: none;
}
#main {
margin: 8px;
}
#cmd {
display: block;
font-family: monospace;
background: black;
color: lightgrey;
}
#cmd:after {
content: "_";
opacity: 1;
animation: 1s blink step-end infinite;
}
@keyframes blink {
from, to { opacity: 1; }
50% { opacity: 0; }
}
#caption {
margin-top: -20px;
font-size: 14px;
font-style: italic;
color: lightgrey;
cursor: pointer;
width: max-content;
}
#kanye {
float: left; 
margin-right: 16px;
width: 300px;
}
#poggers {
line-height: 1.7;
}
footer {
background: black;
text-align: center;
padding: 53px;
}
